<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>projectOne</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>gets all employees</description>
    <display-name>GetEmployeesServlet</display-name>
    <servlet-name>GetEmployeesServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeesServlet</servlet-name>
    <url-pattern>/GetEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>home page</description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.revature.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>com.revature.servlets.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Master Servlet for processing all get and post and put</description>
    <display-name>DispatcherServlet</display-name>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>com.revature.servlets.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/dispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Employee home page after successful log in</description>
    <display-name>EmployeeHomeServlet</display-name>
    <servlet-name>EmployeeHomeServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeHomeServlet</servlet-name>
    <url-pattern>/employeeHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeeByIdServlet</display-name>
    <servlet-name>GetEmployeeByIdServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetEmployeeByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeByIdServlet</servlet-name>
    <url-pattern>/GetEmployeeById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerHomeServlet</display-name>
    <servlet-name>ManagerHomeServlet</servlet-name>
    <servlet-class>com.revature.servlets.ManagerHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerHomeServlet</servlet-name>
    <url-pattern>/managerhome</url-pattern>
  </servlet-mapping>
</web-app>