body{
    background-color: lightblue;
}
img{
    display: block;
}

#homepic{
    margin: 15px;
    border: 20px solid seashell;

}

table, tr, th, td{
    margin: top 2px bottom 2px left 2px right 2px;
    border: 1px solid gray;
    text-align: center;
    border-collapse: collapse;
}

#linkfirst{
    padding-left: 60px;
}
.linkspace{
    padding-left: 20px;
    padding-right: 20px;
}