<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>p1-Chandrika-Sinha</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.chandrika.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.chandrika.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EmployeeRequestServlet</display-name>
    <servlet-name>EmployeeRequestServlet</servlet-name>
    <servlet-class>com.chandrika.servlets.EmployeeRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRequestServlet</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.chandrika.servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>RequestServlet</display-name>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>com.chandrika.servlets.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/allReqs</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>PendingRequestServlet</display-name>
    <servlet-name>PendingRequestServlet</servlet-name>
    <servlet-class>com.chandrika.servlets.PendingRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingRequestServlet</servlet-name>
    <url-pattern>/pendingReqs</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ResolvedRequestServlet</display-name>
    <servlet-name>ResolvedRequestServlet</servlet-name>
    <servlet-class>com.chandrika.servlets.ResolvedRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResolvedRequestServlet</servlet-name>
    <url-pattern>/resolvedReqs</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>HomeLoginServlet</display-name>
    <servlet-name>HomeLoginServlet</servlet-name>
    <servlet-class>com.chandrika.servlets.HomeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeLoginServlet</servlet-name>
    <url-pattern>/homelogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SubmitRequestServlet</display-name>
    <servlet-name>SubmitRequestServlet</servlet-name>
    <servlet-class>com.chandrika.servlets.SubmitRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitRequestServlet</servlet-name>
    <url-pattern>/submitRequest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.chandrika.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
</web-app>