<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h3>Employee Login Successful</h3>

	<form action="home" method="post">
		What action would you like to take?
		<select name="destination">
			<option value="addReq">Submit A Reimbursement</option>
			<option value="ViewPendReq">View Pending Requests</option>
			<option value="ViewResReq">View Resolved Requests</option>
			<option value="viewProfile">View Profile information</option>
			<option value="upEmpProf">Update Profile</option>
			<option value="logout">Logout</option>
		</select> <input type="submit" value="Proceed" />
	</form>

</body>
</html>