<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
		
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@charles-crandall-aws-db.c9klirjaubbe.us-east-2.rds.amazonaws.com:1521:ORCL</property>
    <property name="hibernate.connection.username">crandallch</property>
    <property name="hibernate.connection.password">shipoopi1</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <property name="hibernate.show_sql">true</property>
    
    <mapping class="com.revature.models.CustomerExersize"/>
    <mapping class="com.revature.models.InvoiceExersize"/>
  </session-factory>
</hibernate-configuration>