<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-nav></app-nav>
  <!-- <a routerLink='/highlight'>Highlight</a>
  <a routerLink='/profile'>Profile</a>
  <a routerLink='/select'>Select</a>
  <a routerLink='/tab'>Table</a> -->

  <!-- <app-highlight></app-highlight> -->
  <!-- <app-profile></app-profile> -->
  <!-- <app-select></app-select>
  <app-table></app-table> -->

  <router-outlet></router-outlet>
  <!-- w/o router outlet line, links show up, and changes
      paths when clicked, but doesnt actually change components -->
</div>


