<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<div *ngIf ='!check'>  
<table class="table">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Birthday</th>
    </tr>
    <tr *ngFor = 'let person of people' scope="row">
      <td>{{person.fname | firstCap}} {{person.lname | firstCap}} </td>
      <td>{{person.email}}</td>
      <td>{{person.birthday | date:'EEEE, MMMM, d, y'}}</td>

    </tr>
  </table>
  </div>
  <div *ngIf ='check'>  
      <table>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Birthday</th>
          </tr>
          <tr *ngFor = 'let person of people'>
            <td>{{person.fname | firstCap}} {{person.lname | firstCap}} </td>
            <td>{{person.email}}</td>
            <td>{{person.birthday | date:'EEEE, MMMM, d, y'}}</td>
      
          </tr>
        </table>
        </div>
  <button (click)='hideMe()' class='btn btn-danger'>Select to toggle Between bootstrap format and nonformated table</button>


