<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>p1-henry-saing</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginSuccessServlet</display-name>
    <servlet-name>LoginSuccessServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginSuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSuccessServlet</servlet-name>
    <url-pattern>/LoginSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterServlet</display-name>
    <servlet-name>MasterServlet</servlet-name>
    <servlet-class>com.revature.servlets.MasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLoginServlet</display-name>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <url-pattern>/empLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerLoginServlet</display-name>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.ManagerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <url-pattern>/manLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerSuccessServlet</display-name>
    <servlet-name>ManagerSuccessServlet</servlet-name>
    <servlet-class>com.revature.servlets.ManagerSuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerSuccessServlet</servlet-name>
    <url-pattern>/manSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginFailedServlet</display-name>
    <servlet-name>LoginFailedServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginFailedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFailedServlet</servlet-name>
    <url-pattern>/LoginFailed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeSuccessServlet</display-name>
    <servlet-name>EmployeeSuccessServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeSuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeSuccessServlet</servlet-name>
    <url-pattern>/EmployeeSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRequestServlet</display-name>
    <servlet-name>AddRequestServlet</servlet-name>
    <servlet-class>com.revature.servlets.AddRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRequestServlet</servlet-name>
    <url-pattern>/addReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployees</display-name>
    <servlet-name>ViewEmployees</servlet-name>
    <servlet-class>com.revature.servlets.ViewEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployees</servlet-name>
    <url-pattern>/ViewEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployeeServlet</display-name>
    <servlet-name>ViewEmployeeServlet</servlet-name>
    <servlet-class>com.revature.servlets.ViewEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeeServlet</servlet-name>
    <url-pattern>/ViewEmployeeServlet</url-pattern>
  </servlet-mapping>
</web-app>