<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Profile</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
<button class="btn btn-block" onclick="goHome()">Home </button>	

<div class="container">
	<table id="table"  class="table">
	<tr id="headerRow">
	<th>First name</th>
	<th>Last Name</th>
	<th>Email</th>
	<th>Password</th>
	</tr>
</table>
</div>

<div id="profile">
<form action="employee_profile" method="POST" class="container">
	<label>First name </label><br>
	<input id="fname" required type="text" name="firstName" class="form-control"/>
	<br>
	<label>Last Name </label><br>
	<input id="lname" required type="text" name="lastName" class="form-control" />
	<br>
	<label> Email</label><br>
	<input id="email" required type="text" name="email" class="form-control"/>
	<br>
	<label>New Password</label><br>
	<input id="password" required type="text" name="password" class="form-control"/>
	<br>
	<input required type="submit" value="Submit" class="btn btn-primary"/>
</form>

</div>
<hr>


<script src="./Scripts/Profile.js"></script>
</body>
</html>