<div class = "container" style = "justify-content: space-evenly">
  <button class = "btn btn-info" routerLink = '/first'>First</button>
  <button class = "btn btn-info" routerLink = '/a-directives'>AttributeDirectives</button> 
  <button class = "btn btn-info" routerLink = '/clicker'>Clicker</button>
  <button class = "btn btn-info" routerLink = '/posts'>Posts</button>
  <button class = "btn btn-info" routerLink = '/pipes'>Pipes</button>
  <button class = "btn btn-info" routerLink = '/databind'>Databind</button>
  <button class = "btn btn-info" routerLink = '/highlight'>HighLight</button>
  <button class = "btn btn-info" routerLink = '/profile'>Profile</button>
  <button class = "btn btn-info" routerLink = '/animals'>Animals</button>
  <button class = "btn btn-info" routerLink = '/people'>People</button>
  <button class = "btn btn-info" routerLink = '/fakeUsers'>Users</button>
</div>