<h2>Question 1</h2>

<div id="fillertext" (mouseenter)="mouseEnter()"  (mouseleave)="mouseLeave()">
<h2>One Art - Elizabeth Bishop</h2>

<p>The art of losing isn't hard to master; <br>
so many things seem filled with the intent <br>
to be lost that their loss is no disaster, </p>

<p>Lose something every day. Accept the fluster <br>
  of lost door keys, the hour badly spent. <br>
  The art of losing isn't hard to master.</p>

<p>Then practice losing farther, losing faster: <br>
  places, and names, and where it was you meant <br>
  to travel. None of these will bring disaster.</p>

<p>I lost my mother's watch. And look! my last, or <br>
  next-to-last, of three loved houses went. <br>
  The art of losing isn't hard to master.</p>

<p>I lost two cities, lovely ones. And, vaster, <br>
  some realms I owned, two rivers, a continent. <br>
  I miss them, but it wasn't a disaster.</p>

<p>- Even losing you (the joking voice, a gesture <br>
  I love) I shan't have lied. It's evident <br>
  the art of losing's not too hard to master <br>
  though it may look like (Write it!) like disaster.</p> 
</div>