<br><br><br>

<div class="container alert alert-warning">
  <form>
    <input type="radio" name="animals" (click)="changeAnimalChecked()">animals
    <div *ngIf='animalChecked'>
        <option *ngFor='let animal of animals' [value]='animal'>{{animal}}</option>
    </div>
    <br>
    <input type="radio" name="colors" (click)="changeColorChecked()">colors
    <div *ngIf='colorChecked'>
        <option *ngFor='let color of colors' [value]='color'>{{color}}</option>
    </div>
    <br>
    <input type="radio" name="days" (click)="changeDayChecked()">days
    <div *ngIf='daysChecked'>
        <option *ngFor='let day of days' [value]='day'>{{day}}</option>
    </div>
  </form>
</div>