<br><br><br>
<div class="container">
    <div class="jumbotron">
      <button id="myButton" class="btn btn-success" (click)='getUsers()'>Get users!</button>
    </div>
    <div>
      <div *ngFor='let user of users'>
      <h4>{{user.id}}) {{user.name}}</h4> 
      <p>{{user.username}}</p>
      <p>{{user.email}}</p>
      <p>Address:</p>
          <ul>
            <li>{{user.address.street}}</li>
            <li>{{user.address.suite}}</li>
            <li>{{user.address.city}}, {{user.address.state}} {{user.address.zipcode}}</li>
          </ul>
      <p>Geo:</p>
        <ul>
          <li>lat: {{user.address.geo.lat}}</li>
          <li>lng: {{user.address.geo.lng}}</li>
        </ul>
       <p>phone: {{user.phone}}</p>
       <p>website: {{user.website}}</p>
       <p>company: {{user.company.name}}</p>
       <p>catchPhrase: {{user.company.catchPhrase}}</p>
       <p>{{user.company.bs}}</p>
      </div>
    </div>
  </div>
