<div class='container'>
<h2>Highlight</h2>

<div id="filler" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
  <p>Litora elit, praesent penatibus ut et gravida suspendisse consequat. Lobortis tortor fusce montes eros suscipit tempus. Ridiculus nulla sociosqu venenatis aliquam litora. Accumsan nisi. Molestie consequat dictum volutpat luctus id posuere justo platea et sollicitudin magna elementum. Dis laoreet.</p>

  <p>Sed non sociosqu. Gravida penatibus hendrerit semper ligula justo inceptos senectus amet. Velit pulvinar, curae; id pulvinar vehicula ut egestas sociosqu ultrices sociis vel ultrices aliquam velit duis aliquam vitae massa euismod ut. Cubilia eget. Tincidunt scelerisque.</p>
  
  <p>Pede justo morbi congue pretium vestibulum ultrices integer. Suscipit libero risus bibendum dis nullam hac curae; tincidunt montes vehicula commodo morbi cubilia ornare aliquet.</p>
</div>
</div>