
<!-- Holds routerLinks that reference the components specified in routes.ts when clicked. -->
<button class="btn btn-info"  routerLink="/first">first</button>
<button class="btn btn-info"  routerLink="/directives">directives</button>
<button class="btn btn-info"  routerLink="/posts">posts</button>
<button class="btn btn-info"  routerLink="/clicker">clicker</button>
<button class="btn btn-info"  routerLink="/pipe">pipe</button>
<button class="btn btn-info"  routerLink="/databind">databind</button>
<button class="btn btn-primary"  routerLink="/assignment">Asignment</button>

<br>
<!-- The <router-outlet> tag is in the app.component.html file in this case. Should be here. -->
