<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
		
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@mydbrevature.cidrrjyvywxg.us-east-1.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.username">newtonhoac</property>
		<property name="hibernate.connection.password">iforgot2</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<property name="hibernate.show_sql">true</property>
		
		<mapping class="com.revature.models.Customer"></mapping>
		<mapping class="com.revature.models.Invoice"></mapping>
	</session-factory>
</hibernate-configuration>