body, html {
  height: 100%;
}

body {
  background-image: url("https://msdnshared.blob.core.windows.net/media/2014/08/chuckPS.bmp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main {
  text-align: center;
  margin: 0 center;
  margin-top: 10%;
  width: 45%;
  min-height:300px;
  background-color: rgba(168, 185, 245, 0.9);
  border-radius: 2.5%;
}

.label {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  width: 100%;
}

#submit {
  clear: both;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}