<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<div>
  <app-highlighter-component></app-highlighter-component>
</div>
<br>
<div>
  <app-profile-component></app-profile-component>
</div>
<br>
<div>
  <app-select-component></app-select-component>
</div>
<br>
<div>
  <app-table-component></app-table-component>
</div>
<br>
<div>
  <app-nav-component></app-nav-component>
</div>
<br>
<div>
  <router-outlet></router-outlet>
</div>