body {
    background-color:lime;
}

img {
    display: block;
}

.myClass{
    color: green;
    font-family: 'Courier New', Courier, monospace;
    text-align: center; 
}

#coolPic{
    margin: 40px;
    padding: 40px;
    border-style: solid;
    border-color: darkslategray;
    border-width: 10px;
}

table, th, td{
    border: 1px solid darkslategray;
    border-collapse: collapse;
}

#colorTable{
   /* margin-top:30px;*/
   position: relative;
   top: 30 px;  
}