<div>
  <h2>Binding radio buttons</h2>
  
  <p>Radio Buttons!!!!!</p>
  
  <!-- need functions inside of radio buttons -->
  <input #animal type="radio" name="myVar" value="animals" (click)="onClick($event)">animals
  
  <ul *ngIf = 'animal.checked'>
        <li *ngFor="let an of animalArr">
          {{ an }}
        </li>
    </ul>
<input #color type="radio" name="myVar" value="colors" (click)="onClick($event)">colors
<ul *ngIf = 'color.checked'>
        <li *ngFor="let col of colorArr">
          {{ col }}
        </li>
    </ul>
<input #da type="radio" name="myVar" value="days" (click)="onClick($event)">days
<ul *ngIf = 'da.checked'>
        <li *ngFor="let day of dayArr">
          {{ day }}
        </li>
    </ul>
</div>

