<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@revaturesinhacdbinstance.caw8qcboduuv.us-east-2.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.username">sinhac</property>
		<property name="hibernate.connection.password">da1du!us</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<mapping class="com.revature.models.Cave"/>
		<mapping class="com.revature.models.Beehive"/>
		<mapping class="com.revature.models.Bear"/>
	</session-factory>
</hibernate-configuration>