<h2>data binding</h2>
<h1>One way Data Binding</h1>

<form action="">
  <label for="">Name</label>
  <input type="text" value="{{person.name}}">
  <br>
  <label for="">Email</label>
  <input type="text"  value="{{person.email}}">
</form>

<p>{{person.name}}</p>
<p>{{person.email}}</p>

<br>

<h4>Two Way Data Binding</h4>

<form action="">
  <label for="">Name</label>
  <input type="text" [(ngModel)]="name" name="name">
  <br>
  <label for="">Email</label>
  <input type="text" [(ngModel)]="email" name="email">
</form>

<i class="material-icons">
  done
  </i>

<p>{{name}}</p>
<p>{{email}}</p>