<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>p1-jonathan-novoa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MasterServlet</display-name>
    <servlet-name>MasterServlet</servlet-name>
    <servlet-class>com.revature.reim.servlets.MasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.revature.reim.servlets.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerServlet</display-name>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.revature.reim.servlets.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.revature.reim.servlets.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.reim.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee_Info</display-name>
    <servlet-name>Employee_Info</servlet-name>
    <servlet-class>com.revature.reim.servlets.Employee_Info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_Info</servlet-name>
    <url-pattern>/employee_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResolvedReim</display-name>
    <servlet-name>ResolvedReim</servlet-name>
    <servlet-class>com.revature.reim.servlets.ResolvedReim</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResolvedReim</servlet-name>
    <url-pattern>/resolved_reim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewReim</display-name>
    <servlet-name>NewReim</servlet-name>
    <servlet-class>com.revature.reim.servlets.NewReim</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewReim</servlet-name>
    <url-pattern>/newreim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeProfile</display-name>
    <servlet-name>EmployeeProfile</servlet-name>
    <servlet-class>com.revature.reim.servlets.EmployeeProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeProfile</servlet-name>
    <url-pattern>/employee_profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manager_info</display-name>
    <servlet-name>Manager_info</servlet-name>
    <servlet-class>com.revature.reim.servlets.Manager_info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manager_info</servlet-name>
    <url-pattern>/manager_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManPendReim</display-name>
    <servlet-name>ManPendReim</servlet-name>
    <servlet-class>com.revature.reim.servlets.ManPendReim</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManPendReim</servlet-name>
    <url-pattern>/pend_reim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManResReim</display-name>
    <servlet-name>ManResReim</servlet-name>
    <servlet-class>com.revature.reim.servlets.ManResReim</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManResReim</servlet-name>
    <url-pattern>/res_reim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManViewEmp</display-name>
    <servlet-name>ManViewEmp</servlet-name>
    <servlet-class>com.revature.reim.servlets.ManViewEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManViewEmp</servlet-name>
    <url-pattern>/view_emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManViewAll</display-name>
    <servlet-name>ManViewAll</servlet-name>
    <servlet-class>com.revature.reim.servlets.ManViewAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManViewAll</servlet-name>
    <url-pattern>/view_all_emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManViewOneReim</display-name>
    <servlet-name>ManViewOneReim</servlet-name>
    <servlet-class>com.revature.reim.servlets.ManViewOneReim</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManViewOneReim</servlet-name>
    <url-pattern>/one_reim</url-pattern>
  </servlet-mapping>
</web-app>