<h2> Question 1</h2>
<h3>Create a component which has some filler text
   - the background of the text should change to 
   the color of your choice when you hover over the text</h3>

<p id="lorumipsum" (mouseover)="colorize()" (mouseleave)="decolorize()">
  "Lorem ipsum dolor sit amet,<br>
  consectetur adipiscing elit,<br>
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim<br>
  ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <br>
  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate<br>
  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat<br>
  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id<br>
  est laborum."
</p>