.bg {
        /* The image used */
        background-image: url("https://www.climate-lab-book.ac.uk/files/2015/02/rainbow1.png");
    
        /* Full height */
        height: 100%;
    
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    text-align:center;
}

body {
    background-color: powderblue;
}

p {
    text-align:center;
}

table, th, td {
    border: 1px solid darkslategray;
}

#shopping-table {
    margin:auto;
    left: 50%;
}