.bg {
    width:100%;
    z-index: 0;
    height: 500px;
    border-radius:5px;
}

.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    text-align:center;
}

body {
    background-color: powderblue;
}

p {
    text-align:center;
}

table, th, td {
    border: 1px solid darkslategray;
}

#shopping-table {
    margin:auto;
    left: 50%;
}