<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>p1-alexander-huerta</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Gets Employees</description>
    <display-name>GetEmpServlet</display-name>
    <servlet-name>GetEmpServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmpServlet</servlet-name>
    <url-pattern>/GetEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Home Page</description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.revature.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Master Servlet</description>
    <display-name>DispatcherServlet</display-name>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>com.revature.servlets.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/dispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Employee Login</description>
    <display-name>EmpServlet</display-name>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/EmployeeHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmpByIdServlet</display-name>
    <servlet-name>GetEmpByIdServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetEmpByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmpByIdServlet</servlet-name>
    <url-pattern>/GetEmpById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerServlet</display-name>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.revature.servlets.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/ManagerHome</url-pattern>
  </servlet-mapping>
</web-app>