<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Username</th>
				<th>Email</th>
				<th>Address</th>
				<th>Phone</th>
				<th>Website</th>
				<th>Company</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users">
				<td>{{user.id}}</td>
				<td>{{user.name}}</td>
				<td>{{user.username}}</td>
				<td>{{user.email}}</td>
				<td>{{user.address.street + " " + user.address.suite + ", " + user.address.city + ", " + user.address.zipcode}}</td>
				<td>{{user.phone}}</td>
				<td>{{user.website}}</td>
				<td>{{user.company.name}}</td>
			</tr>
		</tbody>
	</table>
</div>
