<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Manager Dashboard</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h3>Manager Navigation</h3><br>
		<button class="btn btn-info" onClick="viewPending()">View Pending</button>
		<button class="btn btn-info" onClick="viewResolved()">View Resolved</button>
		<br>
			<label>Search Employee ID</label>
			<input type="number" class="form-control" name="empId" id="empId">
			<button class="btn" onClick="searchEmployee()">Search</button>
		
		<br>
		<table id = "reimbTable" class="table">
			<tr>
				<th>ID</th>
				<th>Employee ID</th>
				<th>Manager ID</th>
				<th>Status</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
		</table>
		<br>
		<hr>
		<br>
		<h4>Employees</h4>
		<button class="btn btn-info" onClick="viewEmployees()">View Employees</button>
		<table id = "profTable" class="table">
			<tr id="headerRow">
				<th>ID</th>
				<th>Name</th>
				<th>Address</th>
				<th>Phone</th>
				<th>Email</th>
				</tr>
		</table>
		<br>
		<hr>
		<br>
		<h4>Handle Reimbursements</h4>
		<form action="manprofile" method="post">
			<label>Reimbursement ID</label><br>
			<input type="number" class="form-control" name="RId"><br>
			<select name="action" class="form-control">
				<option value="APPROVED">Approve</option>
				<option value="DENIED">Deny</option>
			</select><br>
			<input type="submit" value="Handle" class="btn btn-info" name="Submit">
		</form>
		<br>
		<hr>
		<br>
		<form action="empprofile" method="post">
			<input type="submit" value="Logout" class="btn btn-danger" name="Submit">
		</form>
	</div>
	<script type="text/javascript" src="Scripts/ManProfile.js"></script>
</body>
</html>